/* Generics */
section {
    border: 2px solid red;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Utils */
.my-bg-green {
    background-color: hsl(136.19deg 31.34% 39.41%);
}

.my-bg-yellow {
    background-color: hsl(45.9deg 88.5% 55.69%);
}

.my-bg-red {
    background-color: hsl(0.47deg 52.89% 52.55%);
}

/* Header */
#main-header {
    height: 80px;
}

#main-header .logo-mobile {
    width: 60px;
    padding: 0;
}

#main-header .logo {
    height: 40px;
    width: auto;
}

#main-header .btn.btn-outline-secondary {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-right: 0;
    background-color: hsl(0deg 0% 89.8%);
}

#main-header .form-control {
    border-left: 0;
    padding-left: 0;
    background-color: hsl(0deg 0% 89.8%);
}

.nav-link.bell {
    color: hsl(34.66deg 84.43% 52.16%);
}

/* Bottom content */
.content-bottom {
    height: calc(100vh - 80px);
}

/* Sidebar */
.sidebar {
    width: 80px;
    flex-shrink: 0;
    background-image: url(../img/sidebar-bg.png);
    background-color: hsl(214.05deg 56.92% 12.75%);
}

.sidebar .nav-link {
    color: white;
    text-align: center;
    font-size: 1.3rem;
}

.sidebar .nav-link span {
    font-size: 1rem;
    margin-left: 10px;
}

/* Main */
main {
    overflow-y: auto;
}

/* Main content */
.main-content>* {
    height: 100%;
}

/* Secondary header */
.secondary-header {
    min-height: 50px;
    background-color: hsl(221.71deg 75.93% 57.65%);
    font-weight: 600;
}

.badge.rounded-pill {
    background-color: hsl(221.82deg 55.93% 46.27%);
}

.badge a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.header-item .btn {
    color: white;
    margin-left: 10px;
}

/* Main content */


/* Classes section */

table {
    width: 100%;
}

tr {
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

th:not(:first-of-type) {
    text-align: center;
}

th,
td {
    height: 50px;
}

.first-col {
    width: 40%;
}

.first-col .cell {
    justify-content: flex-start;
}

.class-logo {
    border-radius: 50%;
    width: 30px;
}

.cell {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cell button {
    border: 1px solid gray;
    color: grey;
    background-color: white;
}

/* FAQ section */
#faq .accordion-item {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}