/* Generics */
section {
    border: 2px solid red;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


/* Header */
#main-header {
    height: 80px;
}

#main-header .logo-mobile {
    width: 60px;
    padding: 0;
}

#main-header .logo {
    height: 40px;
    width: auto;
}

#main-header .btn.btn-outline-secondary {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-right: 0;
    background-color: hsl(0deg 0% 89.8%);
}

#main-header .form-control {
    border-left: 0;
    padding-left: 0;
    background-color: hsl(0deg 0% 89.8%);
}

.nav-link.bell {
    color: hsl(34.66deg 84.43% 52.16%);
}

/* Bottom content */
.content-bottom {
    height: calc(100vh - 80px);
}

/* Sidebar */
.sidebar {
    width: 80px;
    flex-shrink: 0;
    background-image: url(../img/sidebar-bg.png);
    background-color: hsl(214.05deg 56.92% 12.75%);
}

.sidebar .nav-link {
    color: white;
    text-align: center;
    font-size: 1.3rem;
}

.sidebar .nav-link span {
    font-size: 1rem;
    margin-left: 10px;
}

/* Main */
main {
    overflow-y: auto;
}

/* Main content */
.main-content>* {
    height: 100%;
}

/* Secondary header */
.secondary-header {
    min-height: 50px;
}